* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}


.app {
  background: url("https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
    no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  
  width: 100%;
  height: auto;

  
  position: fixed;
  top: 0;
  left: 0;
}

.app.warm {
  background: url("https://i.dailymail.co.uk/i/newpix/2018/08/14/17/1B75E780000005DC-6059391-image-a-43_1534262904235.jpg")
    no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  
  width: 100%;
  height: auto;

  
  position: fixed;
  top: 0;
  left: 0;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
}



.location-box .location{
color: #FFF;
font-size: 32px;
font-weight: 500;
text-align: center;
text-shadow: 3px, 3px, rgba(50, 50, 70, 0.5);
}

.location-box .date{
  color: #FFF;
font-size: 20px;
font-weight: 300;
text-align: center;
font-style: italic;
text-shadow: 3px, 3px, rgba(50, 50, 70, 0.5);
}

.weather-box{
text-align: center;
color: pink;
}

.weather-box .temp{
position: relative;
display: inline-block;
margin: 30px auto;
background-color: rgba(255, 255, 255, 0.2);
border-radius: 16px;
padding: 15px 25px;
font-size: 102px;
font-weight: 900;
text-shadow:3px 6px rgba(50, 50, 70, 0.5);
text-align: center;
box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
  font-size: 48px;
  font-weight: 500;
text-shadow: 3px 6px rgb(50, 50, 70,0.5);

}